<!-- <ion-tabs class="full-img-background"> -->
<ion-tabs style="background-color: #f4f5f8">
  <ion-tab-bar slot="bottom">
    
    <ion-tab-button routerLink="">
      <ion-icon name="log-in" color="warning" size="large"></ion-icon>
      <ion-label size="large" class="ion-text-wrap">Sign in</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="create">
      <ion-icon name="person-add" color="warning" size="large"></ion-icon>
      <ion-label size="large" class="ion-text-wrap">Join now</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>